sudo: false

language: php

php:
  - 7.1
  - 7.2

install:
  - composer install -d api

script:
  # config laravel env
  - cp api/.env.example api/.env
  - php api/artisan key:generate
  # Unit test
  - ./api/vendor/bin/phpunit -c api/phpunit.xml

