sudo: false

language: php

php:
  - 7.1
  - 7.2

before_install:
  - composer self-update

install:
  - composer require satooshi/php-coveralls -d api
  - composer install -d api

script:
  # config laravel env
  - cp api/.env.example api/.env
  - php api/artisan key:generate
  # Unit test
  - ./api/vendor/bin/phpunit -c api/phpunit.xml

after_success:
- travis_retry php vendor/bin/coveralls
