.project-detail {

  .project {
    position: relative;
    h3 {
      font-weight: normal;
      font-size: 15px;
    }
    .ant-divider {
      margin-top: 16px;
    }
    .btns {
      button {
        margin-top: 28px;
        float: right;
      }
    }
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 6px 12px;
  }

  .ant-table-thead > tr > th {
    font-size: 13px;
  }
  .ant-table-tbody > tr > td {
    font-size: 13px;
  }

  .ant-btn-sm {
    font-size: 12px;
  }
}