.project-detail {
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 6px 12px;
  }

  .ant-table-thead > tr > th {
    font-size: 13px;
  }
  .ant-table-tbody > tr > td {
    font-size: 13px;
  }

  .ant-btn-sm {
    font-size: 12px;
  }
}