.left-sider {

  &.ant-layout-sider {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    flex: 0 0 200px !important;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
    margin: 16px;
    font-size: 13px;
    text-align: center;
    line-height: 32px;
    a {
      color: white;
      text-decoration: none;
    }
  }

  .ant-menu-horizontal {
    float: right;
    border-bottom: 0;
    .ant-menu-item-selected a {
      color: #108ee9 !important;
    }

    .ant-menu-submenu-title {
      font-size: 13px;
      height: 44px;
      line-height: 44px;
    }
  }
}