.main-layout {
  .content {
    margin: 16px;
    background: #fff;
    min-height: calc(100vh - 90px - 33px);
    > div {
      padding: 24px;
    }
  }

  .ant-layout-footer {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #fff;
    width: 100%;
    padding: 0;
  }
}