.api-detail {
  padding: 0 !important;
  min-height: inherit;

  .ant-row-flex {
    min-height: inherit;
  }

  .left-block {
    background: white;
    flex-grow: 1;
    padding: 24px;
    min-height: inherit;
    .project {
      .ant-divider {
        margin-top: 16px;
      }
    }
  }

  .right-block {
    flex-grow: 1;
    padding: 24px;
    background: rgb(39, 40, 34);
  }


  .ant-divider-inner-text {
    font-size: 12px;
    font-weight: normal;
  }

  .ant-form-item {
    .ant-form-item-label label {
      font-size: 13px;
    }
    .ant-form-explain {
      font-size: 12px;
    }
    .param-input {
      width: 200px;
      height: 30px;
      margin-right: 10px;
    }
    .param-type {
      display: inline-block;
      padding-right: 8px;
    }
  }
  .ant-btn-sm {
    font-size: 12px;
  }
}